<!-- comment -->
<div class="container-fluid">
    <h1>Home page.</h1>

    <p>
        <div demo-component></div>
    </p>
    <p>
        <div demo-cs-component></div>
    </p>
    <p>
        <div ng-include=" 'views/test.html' "></div>
    </p>

    <h2>Main features</h2>
    <ul class="list-group">
      <li class="list-group-item"><span class="label label-success"><i class="fa fa-check"></i> Boostrap</span></li>
      <li class="list-group-item"><span class="label label-warning"><i class="fa fa-check"></i> Font-Awesome</span></li>
      <li class="list-group-item"><span class="label label-warning"><i class="fa fa-check"></i> Supports CoffeeScript</span></li>
      <li class="list-group-item"><span class="label label-warning"><i class="fa fa-check"></i> Views are precompiled to JS</span></li>
    </ul>
</div>
