<!-- comment -->
<a href="https://github.com/lordkada/healthy-gulp-angular"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<div class="jumbotron">
    <div class="container">
        <h1 class="page-header">Healthy-Gulp-Angular v0.2.0</h1>
        <h2 class="page-header">Gulp + Angular +  JS/CoffeeScript
        <div class="pull-right">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lordkada.github.io/healthy-gulp-angular" data-text="Healthy-Gulp-Angular = Gulp + Angular + JS/CoffeeScript" data-via="lordkada" data-size="large" data-hashtags="angularjs">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        </h2>
        <div class="row">
            <div demo-component></div>
            <div demo-cs-component></div>
            <div ng-include=" 'views/test.html' "></div>
        </div>
        <h2>Main features</h2>
        <ul class="list-group">
            <li class="list-group-item"><span class="label label-success"><i class="fa fa-check"></i></span> Boostrap 3 compatible</li>
            <li class="list-group-item"><span class="label label-success"><i class="fa fa-check"></i></span> Font-Awesome 4 compatible</li>
            <li class="list-group-item"><span class="label label-success"><i class="fa fa-check"></i></span> CoffeeScript supported out-of-the-box</li>
            <li class="list-group-item"><span class="label label-success"><i class="fa fa-check"></i></span> HTML Partials and views compiled to JS</li>
        </ul>
    </div>
</div>
